.header {
    display: flex;
    font-size: 12px;
}

.levels {
    display: flex;
    margin-top: 10px;
}

.levelsCell {
    height: 10px;
    width: 100%;
}

.row {
    display: flex;
}

.dayCell {
    width: 30px;
    height: 20px;
    font-size: 12px;
    text-align: right;
    padding-right: 3px;
}

.cell {
    width: 100%;
    height: 20px;
    padding: 1px;
}

.cellBox {
    width: 100%;
    height: 17px;
}

.minMaxBlock {
    display: flex;
    font-size: 12px;

    & :first-child {
        width: 100%;
    }
}
