.sectionBox {
    border-radius: 10px;
    overflow: hidden;
    margin: 16px;

    hr {
        display: none;
    }
}

.footerCount {
    display: block;
    text-align: center;
    padding: 5px;
    color: var(--tgui--secondary_hint_color);
}
