.sectionBox {
    border-radius: 10px;
    overflow: hidden;
    margin: 16px;

    hr {
        display: none;
    }
}

.showHr {
    hr {
        display: block;
    }
}

.hideHr {
    hr {
        display: none;
    }
}

.footerCount {
    display: block;
    text-align: center;
    padding: 5px;
    color: var(--tgui--secondary_hint_color);
}

.partWidth {
    width: 50%;
}

.center {
    text-align: center;
    margin: 0 auto;
    justify-content: center;
}

.disabledCell {
    background: unset !important;
    opacity: 1 !important;
    cursor: default;
}

.tinySegment {
    margin-bottom: 5px;

    & button {
        height: 30px;
        padding: unset;
    }
}
