.link {
    display: flex;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
    font-size: var(--mantine-font-size-sm);
    color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-1));
    padding: var(--mantine-spacing-xs) var(--mantine-spacing-sm);
    border-radius: var(--mantine-radius-sm);
    font-weight: 500;
    width: 100%;

    &:hover {
        background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));
    }
}

.linkIcon {
    color: light-dark(var(--mantine-color-gray-6), var(--mantine-color-dark-2));
    margin-right: var(--mantine-spacing-sm);
}

.title {
    font-family: Greycliff CF, var(--mantine-font-family);
    font-weight: 700;
}

.modalContent {
    padding: var(--mantine-spacing-xs);
    padding-top: 0;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: var(--mantine-radius-md);
    height: rem(90px);
    transition: box-shadow 150ms ease, transform 100ms ease;
}

.donutIcon {
    animation: donateAnimation 5s infinite;
    color: var(--mantine-color-pink-filled);
}

@keyframes donateAnimation {
    0% {
        color: var(--mantine-color-pink-filled);
    }
    33% {
        color: var(--mantine-color-violet-filled);
    }
    66% {
        color: var(--mantine-color-teal-filled);
    }
    100% {
        color: var(--mantine-color-pink-filled);
    }
}
