.indicator {
    width: rem(6px);
    height: rem(6px);
    transition: width 250ms ease;
    background-color: var(--mantine-color-blue-filled-hover);

    &[data-active] {
        width: rem(12px);
    }
}
