.control {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: var(--mantine-spacing-xs) var(--mantine-spacing-md);
    border-radius: var(--mantine-spacing-xs);
    border: rem(1) solid light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-5));
    background-color: light-dark(var(--mantine-color-white), var(--mantine-color-dark-6));
    transition: background-color 150ms ease;

    &:hover {
        background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-5));
    }
}

.label {
    font-weight: 500;
    font-size: var(--mantine-font-size-sm);
}

.icon {
    transition: transform 150ms ease;
    transform: rotate(0deg);
}

.iconOpened {
    transform: rotate(180deg);
}
