html,
body {
    overflow: auto;
    overscroll-behavior-y: none;
    margin: 0;
}

* {
    touch-action: manipulation;
    -webkit-touch-callout: none;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1.5;

    --app-background-color: transparent;
    --app-text-color: black;

    background: var(--app-background-color);
    color: var(--app-text-color);
}

a {
    text-decoration: none;
    color: var(--tgui--link_color);
}
